[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
pip = "*"
install = "*"
beautifulsoup4 = "*"
html5lib = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.12"
